<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>User Info</title>
</head>

<body>

<div class="container">

    <h3>Your Information</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th align="center">Name </th>
            <th align="center">Email</th>
            <th align="center">Mobile</th>
            <th align="center">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${user}">

            <td th:text="${temp.username}" align="center" />
            <td th:text="${temp.email}" align="center"/>
            <td th:text="${temp.mobile}" align="center"/>


            <td>
                <a th:href="@{/updateForm}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <br><br>

            </td>


        </tr>
        </tbody>
    </table>
    <a th:href="@{/welcome}"
       class="btn btn-success col-3">
        Go Back
    </a>
</div>

</body>
</html>


