.has-search .form-control {
    padding-left: 2.375rem;
    width: 607px;
    margin: 0 0 10px 12px;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    margin-left: 12px;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
  }
  